@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

* {
  scroll-padding-top: 76px;
  font-family: 'Montserrat';
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0 !important;
  padding: 0 !important;
}

.navbar .container {
  padding: 15px 100px;
  margin: 0 !important;
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: 202px;
}

.bgimage {
min-height: 100vh;
max-width: 100vw;
background: url(./src/background/Hero_Section.png);
background-repeat: no-repeat;
background-size: cover;
}

.nav-link {
color: white !important;
}

.nav-item {
font-size: 14px;
font-weight: 600;
line-height: 17.07px;
padding: 10px;
gap: 10px;
display: flex;
justify-content: center;
align-items: center;
}

.navbar_content_ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  flex: 1 0 0;
}

.register {
padding: 5px 30px;
border-radius: 100px;
background-color: white;
}

.register a {
color: rgb(0, 124, 189) !important;
display: flex;
justify-content: center;
align-items: center;
}

.hero_text {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
display: flex;
flex-direction: column;
gap: 10px;
width: 924px;
}

.wrapper_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.hero_title {
font-size: 24px;
font-weight: 600;
line-height: 36px;
}

.hero_desc {
font-size: 48px;
font-weight: 800;
line-height: 36px;
}

.hero_paragraph {
text-align: center;
font-size: 14px;
font-weight: 600;
width: 846px;
}

.wrapper_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-hero {
background-color: #3EB7DD;
border: none;
border-radius: 5px;
color: white;
display: flex;
padding: 16px 20px;
justify-content: center;
align-items: center;
gap: 10px;
font-size: 14px;
font-weight: 800;
}

.content .about {
  display: flex;
  padding: 100px 200px;
  justify-content: center;
  align-items: center;
  gap: 35px;
  align-self: stretch;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.description h2 {
  font-size: 20px;
  font-weight: 700;
}

.description p {
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  margin-bottom: 0px;
}

.action {
font-size: 20px;
}

.action .fab{
font-size: 25px;
margin-left: 15px;
}

footer{
position: absolute;
}

footer .content {
  width: 100vw;
}

footer .content .wrapper {
  display: flex;
  padding: 30px 49px;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}

footer .content .wrapper .textcontent{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.textcontent p {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

footer .content .wrapper .textcontent .textfield {
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 3px solid white;
gap: 421px;
}

.textfield p {
  margin-bottom: 20px;
}

.sosmed {
  display: flex;
}

.sosmed .fab {
color: white;
font-size: 21px;
letter-spacing: 30px;
}

.mechImage {
min-height: 100vh;
background-image: url(./src/background/Section_Mekanisme.png);
background-repeat: no-repeat;
background-size: 100% 100%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.mechImage .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mechImage .content h1  {
  font-weight: 700;
  font-size: 48px;
  align-self: center;
  width: 80%;
}

.title {
  font-size: 18px;
  line-height: 19px;
}

.content .box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80%;
}

.mechImage .content .box .box_item{
  padding: 1.875rem;
  display: flex;
  align-items: flex-start;
  gap: 25px;
  border-radius: 10px;
}

.update_card_container{ 
  max-width: 348px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: hidden;
}

.update_card_container:hover .update_cardTitle {
  color: #3EB7DD;
}

.update_card_container:hover .update_cardImage {
  transform: scale(1.2);
}

.update_cardImage {
  transition: all .4s;
}

.update_card_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all .4s;
}

.update_cardImage_wrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  transition: all .4s;
}

.latest_section {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 746px;
  padding: 56px 163px;
}

.latest_section .heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 20px;
}

.box-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 35px;
}

.update_cardImage {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 8px;
}

.update_cardTitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 17.07px;
}

.update_cardDate {
  font-weight: 500;
  font-size: 12px;
  line-height: 14.63px;
}

.box ol {
  padding-left: 1rem !important;
}

.box ol li {
  font-size: 12px;
}

.itemcontent {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.date {
  font-size: 14px;
}

h6 {
  margin: 0 !important;
}

.box .box_item .head {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.brand {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 500px;
  padding: 82px 0px 81px 0px;
  gap: 50px;
}

.slider {
  position: relative;
  width: 100%;
  height: 12rem;
  box-shadow: 0 .8rem 1.4rem -.2rem #0001;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.jwc {
  margin-right: -15rem;
}

.slider ul.photos {
  list-style: none;
  display: flex;
  align-items: baseline;
  animation: slideLeft 9s linear infinite;
  gap: 10rem;
}

@keyframes slideLeft {
  100%{
    transform: translateX(-53%);
  }
}

ul.photos li.photo-logo {
  width: 10rem;
}

ul.photos li.photo-logo img {
  aspect-ratio: 3/2;
  object-fit: contain;
  transition: transform .5s;
}

ul.photos li.photo-logo img:hover {
  transform: scale(1.1);
}

.slider::after , .slider::before {
  position: absolute;
  content: "";

  height: 100%;
  width: 12rem;
}

.slider::before {
  left: 0;
  background: linear-gradient(to right, #fff 0%, #fff0 100%);
}

.slider::after {
  right: 0;
  background: linear-gradient(to left, #fff 0%, #fff0 100%);
}

.brand h2 {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.button-photos {
  display: flex;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 800;
  border: none;
  background-color: #3EB7DD;
  color: white;
  border-radius: 5px;
}

.hero-text .wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .logocontent {
  width: 90;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .logo ul {
  list-style: none;
  display: flex;
  align-items: start;
  flex-direction: column;
}

@media only screen and (max-width:1024px) {
body {
  flex-direction: column;
}

.hero_text {
  display: flex;
  width: 308px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.wrapper_text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.hero-text, .hero_paragraph, .hero_title, .hero_desc {
  text-align: left;
  width: 100%;
  line-height: normal;
}

.content .about {
  flex-direction: column;
}

.about .description {
  width: 395px;
}

footer {
  display: flex;
padding: 27px 36px;
justify-content: center;
align-items: center;
align-self: stretch;
width: 100%;
}

footer .content .wrapper {
  display: flex;
width: 342px;
padding: 30px 0px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 20px;
}

.textfield {
  display: flex;
  flex-direction: column;
}

.textcontent p {
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

footer .content .wrapper {
  height: 100%;
  width: 100% !important;
}

footer .content .wrapper .textcontent .textfield {
  display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 20px;
align-self: stretch;
width: 100%;
}

.textfield p{
  margin-bottom: 0;
}

.sosmed {
  margin-bottom: 20px;
}

}

@media only screen and (max-width:660px) {
  .navbar {
    width: 100vw;
  }
  
  .hero_title {
    font-size: 18px;
    font-weight: 600;
  }
  
  .hero_desc {
    font-size: 36px;
    font-weight: 800;
    line-height: 36px;
  }
  
  .hero_paragraph {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0;
  }

  .navbar .container {
    gap: 0px;
    justify-content: space-evenly;
    padding: 15px;
  }

  .bgimage {
    background-image: url(./src/background/Mobile_Hero.png);
    background-size: cover;
  }

  .latest_section {
    display: flex;
    padding: 96px 58px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 30px;
  }

  .box-container {
    display: flex;
    flex-direction: column;
  }

}

@media only screen and (max-width:1200px) {
  .navbar .container {
    gap: 0px;
  }

  .navbar_content_ul {
    margin-top: 1rem;
  }

  .register {
    width: 100%;
  }
}

@media only screen and (max-width:415px) {
.navbar .container{
  margin: 0;
  width: 100vw;
}

.hero_text {
  display: flex;
  width: 308px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.wrapper_text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.hero-text, .hero_paragraph, .hero_title, .hero_desc {
  text-align: left;
  width: 100%;
  line-height: normal;
}

.hero_title {
  font-size: 18px;
  font-weight: 600;
}

.hero_desc {
  font-size: 36px;
  font-weight: 800;
  line-height: 36px;
}

.hero_paragraph {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0;
}

.youtube {
  width: 100%;
  flex-shrink: 0;
}

.mechImage {
  background-image: url(./src/background/Mobile_Mekanisme.png);
  background-size: cover;
  height: 1441px;
}

.mechImage .content {
  display: flex;
  gap: 30px;
  width: 369px;
}

.mechImage .content h1 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  width: 100%;
}

.mechImage .content .box {
  display: flex;
  gap: 25px;
  width: 100%;
}

.mechImage .content .box .box_item {
  flex-direction: column;
  gap: 30px;
}

.head {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.date {
  line-height: 19px;
}

.brand {
  display: flex;
  height: 500px;
  padding: 79.5px 23px 78.5px 22px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.latest_section .heading {
  font-size: 24px;
}

.itemcontent li {
font-weight: 500;
line-height: 20px;
}

.about .description p {
  margin-bottom: 0px;
}

.action {
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 19px; 
display: flex;
gap: 16px;
}

.action .fab {
  font-size: 21px;
  margin: 0;
}

.brand h2 {
font-size: 14px;
font-style: normal;
line-height: normal;
width: 100%;
}

.button-photos {
  font-size: 12px;
}

.heading {
  text-align: center;
  font-size: 24px;
}

.content .about {
  display: flex;
padding: 100px 0px;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 30px;
}

.about .description {
  width: 75%;
}

}